<!DOCTYPE html>
<html lang="nl" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="${titel}"></title>
</head>
<body>



<div th:replace="~{nav :: navbar}"></div>








<h1>Rules of Basketball</h1>

<strong> The basic rules of basketball are: <br>

    <img src="https://media.newyorker.com/photos/68fbf4d2e74563970725263d/master/w_2560%2Cc_limit/THOMAS---GENERATION-GAP---DURANT---GettyImages-2242104243.jpg" width ="200"> <br>
    - Two teams play with 5 players each on the court. <br>



    <img src="https://cdn.nba.com/teams/legacy/i.cdn.turner.com/nba/nba/media/thunder/scoreboard_0910.jpg" width="200"><br>
    - The goal is to score more points than the other team by throwing the ball through their basket.<br>




    <img src="https://i.ebayimg.com/images/g/YvcAAOSwrIpmGhy-/s-l400.jpg" width="200"><br>
    - A normal basket is worth 2 points.<br>




   <img src="https://upload.wikimedia.org/wikipedia/commons/3/37/Joel_Embiid_and_Steph_Curry_%2851916472728%29.jpg?utm_source=en.wikipedia.org&utm_campaign=index&utm_content=original" width="200"><br>
    - A shot from behind the three-point line is worth 3 points.<br>


    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR2KaFhb4wdQCI2wxHgOaTKQjpKQv5ASJm2Z3suqupCApakioW9lz-XAPSA&s=10" width="200"><br>
    - A free throw is worth 1 point. </strong>

</body>
</html>